<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>API de Produtos</title>
    <div class="head">
    <h1 class="header">API Gerenciamento de Produtos</h1>
    </div>
</head>
<body>
    <div class="corpo">
        {{{body}}}
    </div>    
    <div class='footer'>
        <footer>
            <p>Shitakubo LTDA</p>
        </footer>
    </div>
</body>
</html>