<div class='form'>
<h1>Cadastrar um novo produto: </h1>

<form name='form1' action='controllerForm' method='post'>
    <p>Nome Produto:</p>
    <input type='text' name='nome' id='nome' placeholder='Nome:'>
    <p>Descrição:</p>
    <input type='text' name='descricao' id='nome' placeholder='Descrição:'>
    <p>Marca:</p>
    <input type='text' name='marca' id='marca' placeholder='Marca:'>
    <p>Modelo:</p>
    <input type='text' name='modelo' id='modelo' placeholder='Modelo:'>
    <p>Preço:</p>
    <input type='text' name='preco' id='preco' placeholder='Preço:'><br><br>
    <input type='submit' name='btnSubmit' id='btnSubmit' value='Salvar'>
</form>
</div>