<h1>Cadastro de Produtos</h1>


<ul type='circle'>
    <li>
    <a href="cadastrar">Cadastrar</a>
    </li>
    <li>
    <a href="visualizar">Visualizar</a>
    </li>
</ul>
<figure>
    <img src="../img/produtos.png" class="imgproduto" alt="produto">    
</figure>



